* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #28243D;
    font-family: "Montserrat", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #3D3759;
    padding: 15px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: .1px;
    border-color: #E7E3FC3B;
}

.sidebar .logo  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo img {
    width: 150px;
}

.sidebar .menu {
    padding: 15px;
}

.sidebar .menu ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .menu ul li {
    padding: 13px 0px;
    color: #ffffff;
}

.sidebar .menu ul li a {
    color: #C1C2C4;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .menu ul li a:hover,
.sidebar .menu ul li a:active,
.sidebar .menu ul li a:focus {
    color: #ffffff;
}

.sidebar .menu ul li a:hover .fa,
.sidebar .menu ul li a:active .fa,
.sidebar .menu ul li a:focus .fa {
    color: #C1C2C4;
}

.sidebar .menu ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .menu ul li a:hover .fa:hover,
.sidebar .menu ul li a:active .fa:active,
.sidebar .menu ul li a:focus .fa:focus {
    color: #ffffff;
}

.main-container {
    margin-left: 200px;
    margin-bottom: 100px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #E7E3FC3B;
}

.main-container .topbar {
    display: flex;
    align-items: center;
    background-color: #3D3759;
    padding: 14px 50px;
    height: 40px;
    gap: 2rem;
}

.main-container .topbar .search {
    display: flex;
    align-items: center;
    background-color: #E7E3FC0A;
    padding: 8px 16px;
    border-radius: 40px;
    width: 980px;
}

.main-container .topbar .search-icon {
    font-size: 1.18rem;
    color: #C1C2C4;
}

.main-container .topbar .search-input .input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px;
    font-weight: bold;
    width: 930px;
    color: #C1C2C4;
}

.main-container .topbar .akun {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 1.2rem;
    color: #C1C2C4;
}

.main-container .topbar .akun .notification {
    font-size: .7rem;
    color: #C1C2C4;
    padding: 11px;
    border-style: solid;
    border-radius: 5px;
    border-width: .5px;
    background-color: #474655;
}

.main-container .topbar .akun img {
    width: 40px;
}
